<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully logged in!</title>
</head>
<body>
    <section>
    <center>
        <h1>Successfully logged in!</h1>
    </center>
    <center>
        <h1 >Continue to our website. <a href="http://127.0.0.1:5500/templates/home.html">Click here!</a></h1>
    </center>
</section>

</body>
</html>